/* =========================================================================
   Component: Main
   Author: TungNV
   Email: tungvan11t2@gmail.com
   ========================================================================== 
*/
@import "app/common";
@import "app/header";
@import "app/index";
@import "app/footer";
