/* =========================================================================
   Component: Main
   Author: TungNV
   Email: tungvan11t2@gmail.com
   ========================================================================== 
*/

@import "style/index";
